<div class="Simulation">
    <div class="Simulation__content">
        <div class="Simulation__info">
            <h2>{{ data.name | titlecase }}</h2>
            <form [formGroup]="simulationForm">
                <div class="Simulation__stat">
                    <label for="loanAmount">Amount</label>
                    <input id="loanAmount" type="number" formControlName="loanAmount" class="Simulation__input">
                </div>
                <div class="Simulation__stat">
                    <label for="interestRate">Interest Rate</label>
                    <input id="interestRate" type="number" formControlName="interestRate" class="Simulation__input">
                </div>
                <div class="Simulation__stat">
                    <label for="duration">Duration</label>
                    <input id="duration" type="number" formControlName="duration" class="Simulation__input">
                </div>
                @if (data.insurance) {
                <div class="Simulation__stat">
                    <label for="insurance">Insurance</label>
                    <input id="insurance" type="number" formControlName="insurance" class="Simulation__input">
                </div>
                }
                <!--div class="Simulation__actions">
                    <button class="Simulation__button" type="submit" (click)="onComputeMonthlyPayment()">Compute Monthly
                        Payment</button>
                </div-->

                @if (simulationResult$ | async; as simulationResult) {
                <div class="Simulation__stat">
                    <span class="Simulation__label">Monthly Payment</span>
                    <span class="Simulation__value">{{ simulationResult.monthlyPayment | currency }}</span>
                </div>
                }

            </form>
        </div>
        @if (simulationResult$ | async; as simulationResult) {
        <div class="Simulation__plot">
            <plotly-plot [data]="simulationResult.graph.data" [layout]="simulationResult.graph.layout"></plotly-plot>
        </div>
        }
    </div>
</div>